local.env
selfsigned.*

**/.DS_Store
staticfiles/
db\.sqlite3

staticfiles/

server/whoosh_index/

*.local

.vscode/

# pycharm config
.idea/
# pyenv env file
.python-version

api/tests/approved_files/*.recieved.*