[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.11"
djangorestframework = "==3.11.2"
django-filter = "*"
django-cors-headers = "*"
pylint = "*"
django-haystack = "==2.8.1"
whoosh = "*"
drf-haystack = "==1.8.4"
"markdown2" = "*"
markdown = "*"
python-decouple = "==3.1"
gunicorn = "*"
whitenoise = "*"
jsonfield = "*"

[dev-packages]

[requires]
python_version = "3.7"
