[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
django-haystack = "*"
drf-haystack = "*"
gunicorn = "*"
jsonfield = "*"
markdown = "*"
"markdown2" = "*"
pylint = "*"
python-decouple = "*"
setuptools = "*"
whitenoise = "*"
whoosh = "*"

[dev-packages]

[requires]
python_version = "3.10"
